@import "tailwindcss";

@theme {
  --color-primary-300: #FFCC21;
  --color-primary-400: #FF963C;
  --color-primary-500: #EA6C00;
  --color-secondary-300: #8FE9D0;
  --color-dark-500: #414141;
  --color-dark-600: #2E2E2E;
  --color-gray-400: #777777;
  --color-light: #FFFFFF;
  --gradient-primary-300-400: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
  --font-inter: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: "Noto Sans JP", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: var(--color-dark-500);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.11px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09px;
}

h5 {
  font-size: 15px;
  line-height: 18px;
}

button {
  cursor: pointer;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
